#video {
    width: 640px;
    height: 480px;
}

#cameraPreview {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 640px;
    height: 480px;
}

#facesCanvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 640px;
    height: 480px;
}
